# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
.RDataTmp2
animate/CWT_DOC_output1.png
output/figures/*
*.png
*.RData
*.csv
*.jpeg
.RDataTmp4
.RDataTmp3
output/data/netlst.RDS
backup_20220712.R
output/data/scenarios_temperature_serialC.RDS
output/data/scenarios_temperature_noserialC_test5daysAugust.RDS
output/data/scenarios_temperature_noserialC.RDS
output/data/network_ts_day_shalGW_noserialC.RDS
output/data/network_ts_day_shalGW_direct_noserialC.RDS
output/data/network_ts_day_lowGW_plus5_noserialC.RDS
output/data/network_ts_day_lowGW_noserialC.RDS
output/data/network_ts_day_lowGW_direct_noserialC.RDS
output/data/network_ts_day_intial_plus2_noserialC.RDS
output/data/network_ts_day_intial_noserialC.RDS
output/data/network_ts_day_df_shalGW_noserialC.RDS
output/data/network_ts_day_df_shalGW_40_noserialC.RDS
output/data/network_ts_day_df_low_GW_noserialC.RDS
output/data/network_ts_day_df_low_GW_5_noserialC.RDS
output/data/network_ts_day_df_low_GW_2_noserialC.RDS
output/data/network_ts_day_df_deepGW_noserialC.RDS
output/data/network_ts_day_df_base_noserialC.RDS
output/data/network_ts_day_df_base2_noserialC.RDS
output/data/network_ts_day_deepGW_noserialC.RDS
output/data/network_ts_all_shalGW_serialC.RDS
output/data/network_ts_all_shalGW_noserialC.RDS
output/data/network_ts_all_shalGW_direc_noserialC.RDS
output/data/network_ts_all_shalGW_40_serialC.RDS
output/data/network_ts_all_shalGW_40_noserialC.RDS
output/data/network_ts_all_lowGW_plus5_noserialC.RDS
output/data/network_ts_all_lowGW_noserialC.RDS
output/data/network_ts_all_lowGW_direct_noserialC.RDS
output/data/network_ts_all_low_GW_serialC.RDS
output/data/network_ts_all_low_GW_noserialC.RDS
output/data/network_ts_all_low_GW_5_serialC.RDS
output/data/network_ts_all_low_GW_5_noserialC.RDS
output/data/network_ts_all_low_GW_2_serialC.RDS
output/data/network_ts_all_intial_plus2_noserialC.RDS
output/data/network_ts_all_intial_noserialC.RDS
output/data/network_ts_all_deepGW_serialC.RDS
output/data/network_ts_all_deepGW_noserialC.RDS
output/data/network_ts_all_base_serialC.RDS
output/data/network_ts_all_base_noserialC.RDS
output/data/network_ts_all_base2_serialC.RDS
output/data/network_ts_all_base2_noserialC.RDS
output/data/net_lst_shalGW_serialC.RDS
output/data/net_lst_shalGW_noserialC.RDS
output/data/net_lst_shalGW_Direc_noserialC.RDS
output/data/net_lst_shalGW_40_serialC.RDS
output/data/net_lst_shalGW_40_noserialC.RDS
output/data/net_lst_lowGW_plus5_noserialC.RDS
output/data/net_lst_lowGW_noserialC.RDS
output/data/net_lst_lowGW_direct_noserialC.RDS
output/data/net_lst_low_GW_serialC.RDS
output/data/net_lst_low_GW_noserialC.RDS
output/data/net_lst_low_GW_5_serialC.RDS
output/data/net_lst_low_GW_5_noserialC.RDS
output/data/net_lst_low_GW_2_serialC.RDS
output/data/net_lst_intial_plus2_noserialC.RDS
output/data/net_lst_deepGW_serialC.RDS
output/data/net_lst_deepGW_noserialC.RDS
output/data/net_lst_baseQ.RDS
output/data/net_lst_base_serialC.RDS
output/data/net_lst_base_noserialC.RDS
output/data/net_lst_base2_serialC.RDS
output/data/net_lst_base2_noserialC.RDS
output/data/network_ts_day_intial_noserialC.RDS
output/data/network_ts_all_intial_noserialC.RDS
output/data/network_ts_day_intial_noserialC.RDS
output/data/network_ts_all_intial_noserialC.RDS
output/data/network_ts_all_intial_noserialC.RDS
output/data/network_ts_day_intial_noserialC.RDS
output/data/net_lst_low_GW_2_noserialC.RDS

output\data\net_lst_low_GW_2_noserialC.RDS
*.RDS
